h3{
				line-height: 40px;
				font-weight: bold;
				color: #7C3E29;
			}
			p{
				line-height: 20px;
				font-size: 12px;
				color: #7C3E29;
			}
			img{
				vertical-align: middle;
			}